// Field
// ===
//
// Field is a wrapper for form fields. It is responsible for control the size
// and spacing of the form field itself, its label, and the optional text label.
// The field component is also responsible for apply states, such as errors.

$field__min-height: $tap-size !default;


// Field: Root
// ---
//
// 1. iOS6 fix (TODO: add explanation why this is necessary)

.c-field {
    flex: 1;
    width: 100%; // 1
}


// Field: Inner
// ---

.c-field__inner {

    &.c--is-check-radio {
        display: flex;
    }
}


// Field: Input
// ---
//
// This container is for the actual form inputs itself. It is required in order
// to achieve the necessary layout inside of the parent `.c-field__inner` wrap.

.c-field__input {
    flex: 1 1 auto;

    &:not(.c--is-check-radio) {
        margin-top: $unit/2;
    }

    &.c--is-check-radio {
        flex: 0 0 auto;
        margin-right: $unit;
    }
}


// Field: Label
// ---
//
// This container is for the input label. Click on this should select it's
// respective input.
//
// Label should go above text inputs, textareas and selects. It should go after
// checkboxes and radio buttons. You can do this by letting the `field`
// component know whether a checkbox or radio button is present via the
// `isCheckRadio` parameter.

.c-field__label {
    flex: 1 1 auto;
}


// Field: Caption
// ---

.c-field__caption {
    margin-top: $unit/2;
}


// Field: Error
// ---

.c-field__error {
    margin-top: $unit/2;

    color: $error-color;
}
